<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" type="text/css" href="/static/default.css"/>
</head>
<body>
<form action="/api/weather" method="get" class="weather">
    <h1>Weather</h1>
    <h3>Enter coordinates:</h3>
    <div>
        <label>Latitude</label>
        <input class="latitudeinput" type="text" name="lat">
    </div>
    <div>
        <label>Longitude</label>
        <input type="text" name="lon">
    </div>
    <button class="weatherbotton" type="submit">LOAD DATA</button>
    <div class="weatherdata">
        <div><%= items %></div>
    </div>
</form>
<form action="/api/weather" class="weatherfilter" method="get">
    <h1 class="weatherbydate">Weather by date</h1>
    <h3>Enter date:</h3>
    <div>
        <label>Date</label>
        <input type="text" name="timestamp">
    </div>
    <button class="weatherbottonfilter" type="submit">LOAD DATA</button>
    <div>
        <div><%= itemsfiltered %></div>
    </div>
</form>
<form action="/api/aircraft" method="get" class="weather">
    <h1>Aircraft</h1>
    <h3>Enter coordinates:</h3>
    <div>
        <label>Latitude</label>
        <input class="latitudeinput" type="text" name="lat">
    </div>
    <div>
        <label>Longitude</label>
        <input type="text" name="lon">
    </div>
    <button class="weatherbotton" type="submit">LOAD DATA</button>
    <div class="weatherdata">
        <div><%= itemsaircraft %></div>
    </div>
</form>
<form action="/api/aircraft" class="weatherfilter" method="get">
    <h1 class="weatherbydate">Aircraft by date</h1>
    <h3>Enter date:</h3>
    <div>
        <label>Date</label>
        <input type="text" name="timestamp">
    </div>
    <button class="weatherbottonfilter" type="submit">LOAD DATA</button>
    <div>
        <div><%= itemsaircraftfiltered %></div>
    </div>
</form>
<form action="/api/tracks" class="weatherfilter" method="get">
    <h1 class="aircrafttracking">An aircraft's travelled distance</h1>
    <h3>Enter a transponder of an aircraft:</h3>
    <div>
        <label>Transponder</label>
        <input type="text" name="transponder">
    </div>
    <button class="weatherbottonfilter" type="submit">LOAD DATA</button>
    <div class="itemstrack">
        <div class="distance"><%= itemstrack %> km</div>
    </div>
</form>
</body>
</html>